/**Geeneral params*/
body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  height: 100vh;
}
main {
  margin: 0.2rem 15rem;
}
form {
  padding: 1rem;
}

h1 h2 h3 h4 h5 h6 {
  color: #333;
}

a {
  text-decoration: none;
  color: black;
  margin-top: 8rem;
}

.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #333;
}

.footer p {
  color: #ddd;
  margin: 0;
}

.text-center {
  text-align: center;
}

.full-height {
  height: 100vh;
}

/*header*/

header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 30vh;
}

header img {
  height: 100px;
  width: 100px;
}

header h1 {
  margin-left: 0.5rem;
  font-size: 1.5rem;
}

/*main*/

.btn-projet {
  display: flex;
  justify-content: flex-end;
}

.btn-projet a {
  border: solid 0.12rem black;
  padding: 0.5rem;
  text-decoration: none;
  color: black;
  background: white;
  margin-bottom: 2rem;
}

/*table*/
table {
  border: black solid 0.2rem;
  border-collapse: collapse;
  width: 100%;
}

td,
th {
  border: 0.1rem solid black;
  padding: 10px;
}
tr :nth-child(2) {
  display: flex;
  justify-content: space-around;
}

thead {
  background: #2220208a;
}
.container {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: solid black 0.1rem;
}

label {
  margin-bottom: 1.5rem;
}
input {
  margin-bottom: 1.5rem;
  width: 40%;
  height: 1.5rem;
}
textarea {
  margin-bottom: 1.5rem;
  width: 40%;
  height: 8rem;
}

.button {
  height: 1.8rem;
  width: 15%;
}
/**************************** media queries *****************************/
@media (max-width: 600px) {
  main {
    margin: 2rem;
  }
}
